@font-face {
  font-family: "Hanken Grotesk";
  src: url("/fonts/Hanken_Grotesk/HankenGrotesk-VariableFont_wght.ttf") format
    ("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --font-sans: "Hanken Grotesk", sans-serif;
  --color-sand-gray: #efefed;
  --animate-marquee: marquee 50s linear infinite;
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}
