---
import ContainerProductView from "@components/ContainerProductView.astro";
import NavTab from "@components/Navtab";
import ViewProduct from "@components/ViewProduct";
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";

// const products = await getCollection("product");
const response = await fetch(`${Astro.url.origin}/data/products.json`);
const products = await response.json();
const allProducts = products;
---

<MainLayout pageTitle="Shop">
  <div class="px-4 lg:px-12 mt-4">
    <h1 class="text-4xl font-semibold">Shop</h1>
    <ViewProduct client:load products={allProducts} />
  </div>
</MainLayout>
