<footer class="grid grid-cols-1 md:grid-cols-2 px-4 sm:px-8 py-8">
  <div class="px-8 order-last sm:order-first">
    <div class="flex justify-center sm:justify-end items-center mt-12 sm:mt-0">
      <div class="w-1/2 sm:w-1/4 overflow-hidden">
        <img
          src="/dummy-logo.png"
          alt="logo"
          class="w-full h-full object-cover grayscale"
        />
      </div>
    </div>
    <div class="text-center sm:text-end mt-4 text-sm text-stone-600">
      <p>Your Website 2025 | All rights reserved</p>
      <p>Designed by <a href="#" class="underline">Your Name</a></p>
    </div>
  </div>
  <div class="flex justify-start items-center font-medium px-8">
    <ul class="space-y-1">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Customer Service</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Return Policy</a></li>
      <li><a href="#">Delivery Policy</a></li>
    </ul>
  </div>
</footer>
