<div
  class="flex flex-wrap items-start sm:items-center w-full border border-gray-300 justify-between rounded-md p-2 sm:p-4 gap-3 sm:gap-4"
>
  <div class="w-1/2 lg:w-1/6 2xl:w-1/8">
    <div class="aspect-square overflow-hidden">
      <img
        src="/images/sofa-1.jpg"
        alt="Product"
        class="w-full h-full object-cover"
      />
    </div>
  </div>
  <div class="flex-1 space-y-2 sm:space-y-4">
    <p class="font-semibold text-2xl">Product Name</p>
    <p class="text-gray-600 text-sm sm:text-base">
      Bahan : Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat,
      qui?
    </p>
  </div>
  <div
    class="lg:w-1/6 2xl:w-1/8 w-full text-center space-y-2 sm:space-y-4 sm:border-l-2 border-l-gray-300"
  >
    <p class="text-gray-600 font-semibold">Rp. 1.000.000,-</p>
    <div class="px-2">
      <a
        href="/shop"
        class="block px-4 py-2 bg-dark-green text-gray-100 text-sm font-semibold rounded-full hover:bg-gray-600 hover:text-white transition-all duration-300"
      >
        Description
      </a>
    </div>
  </div>
</div>
