---
import Footer from "@components/Footer.astro";
import Navbar from "@components/Navbar";
import "@styles/global.css";

const { pageTitle } = Astro.props;

const currentPath = Astro.url.pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/dummy-logo.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle} | Future Furniture</title>
  </head>
  <body class="bg-sand-gray">
    <Navbar currentPath={currentPath} client:load />
    <div
      class:list={["w-full", currentPath === "/about" ? "h-0" : "h-22 md:h-32"]}
    >
    </div>
    <slot />
    <Footer />
  </body>
</html>
